{% extends 'base.html' %}

{% block content %}
<div style="font-family:Arial;width:75vw">
	<div style="background:#268f99;width:75vw;height:120px;">
		<h1 style="padding-top:25px;color:white;text-align:center">Sunset</h1>
	
	</div>
	<div style="text-align:center;width:75vw">
		<h1 style="color:#268f99">Hi {{first_name}}</h1>
		<h3 style="color:gray">Your login details are below:</h3>
		<p style="color:gray;font-size:15px"> Email: <strong style="font-size:18px">{{email}}</strong></p>
		<p style="color:gray;font-size:15px"> Password: <strong style="font-size:18px">{{password}}</strong></p>
		<button style="background:#268f99;padding:8px;border-radius:5px;outline:none;border:none">
			<a style="color:white;text-decoration:none" 
				href="{{URL}}">
				Click to Login
			</a>
		</button>
	<p style="color:gray;font-size:15px">Keep your login password safe and secure. Do not share it with others.</p>
	</div>
</div>

{% endblock %}